<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(./assets/img/bc2.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-3"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">

     
      <div class="container-fluid d-flex align-items-center">
        
        <div class="row">
          <div class="col-auto col-md-10">
            <h1 class=" text-white"> {{currentuser.nom}}</h1>
            <p class="text-white mt-0 mb-1">Suivez l'état d'avancement de vos candidatures </p>
          
          </div>
        </div>

    </div>
  </div>
</div>
  <!-- Page content -->
  <div class="container-fluid mt--9">
    <!-- Table -->
   
    <!-- Dark table -->
     <!--langue affichage -->
     <div *ngFor="let candidature of lescandidatures">
      <ng-container *ngIf="candidature.candidat_id == candidatcurr.id">
     <div class="col-md-12 order-xl-2 mb-3 mb-xl-0">
     
      <div class="card card-profile shadow">
        <div class="row justify-content-center">     
        </div> 
        <div class="card-body pt-0 pt-md-9" style="border-radius :2px;">
          <div *ngFor="let offre of lesoffres">
            <div *ngIf="candidature.offre_id == offre.id" >
              <p>Nous avons bien reçu votre candidature pour l'offre d'emploi <span class="font-weight-bold">{{offre.poste}} </span> 
                et nous vous remercions de l'intérêt que vous portez à notre Banque.</p>
                <ng-container *ngIf="offre.statusoff == 0 ">
                  <div class="alert alert-warning" role="alert">
                    Poste est annulé
                  </div>
                </ng-container>
          </div>
          </div>
                  <div class="card card-stats mb-4 mb-xs-4">
                    <div class="card-body">
                      <p class="mt-3 mb-0 text-muted text-sm">
                        <span class="mb-0">
                          <div class="row">
                            <div class="col">
                           <span class="font-weight-bold">   Candidature numéro </span> 
                            </div>
                            <div class="col">
                              <span class="font-weight-bold">   Candidature status  </span>
                            </div>
                            <div class="col">
                              <span class="font-weight-bold">   Date Dépot  </span>
                            </div>

                          </div>
                          <div class="row">
                            <div class="col">
                        {{candidature.id}}<br>
                          </div>
                          <div class="col">
                              <ng-container *ngIf="candidature.status == 1">
                                <span class="text-white bg-green">Candidature Accpté</span> 
                              </ng-container>
                              <ng-container *ngIf="candidature.status == 2">
                                <span class="text-white bg-yellow">Candidature en cours</span> 
                              </ng-container>
                              <ng-container *ngIf="candidature.status == 0">
                                <span class="text-white bg-red">Candidature réfusé</span> 
                              </ng-container>
                        </div>
                        <div class="col">
                          {{candidature.createdAt | date:'medium'}}
                            </div>
                        </div>
                         </span>
                      </p>
                    </div>
                  </div>

            </div>
      </div>
    </div><br><br>
    <br>
  </ng-container>
  </div>
  
</div>