<div class=" pb-8 pt-5 pt-lg-8 d-flex "  style="min-height: 800px; background-size: cover; background-image: url(./assets/img/bc2.jpg);">
   <!-- Mask -->
   <span class="mask bg-gradient-danger opacity-3"></span>


     
   <div class=" d-flex align-items-center">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
     
         
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body" >
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Nombre Total des Offres</h5>
                    <span class="h2 font-weight-bold mb-0">{{nbroffres}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-red text-white rounded-circle shadow">
                      <i class="fas fa-briefcase"></i>
                    </div>
                  </div>
                </div>
                <div class="row">
                  {{nbroffresaff}}  Offres Demandée <br>
                  {{nbroffresmas}}  Offres Masquée

                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body" >
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Nombre des Candidats</h5>
                    <span class="h2 font-weight-bold mb-0">{{nbrcandidats}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-blue text-white rounded-circle shadow">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body" >
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Nombre des Candidatures</h5>
                    <span class="h2 font-weight-bold mb-0">{{nbrcandidatures}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-envelope"></i>
                    </div>
                  </div>
                </div>
                <div class="row">
                  {{candidaccept}}  Candiidatures Acceptés <br>
                  {{candidtrefus}}   Candiidatures Réfusés <br>
                  {{candidcours}}   Candiidatures En cours  

                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-6"><br><br><br>
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body" >
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Nombre des Entretiens</h5>
                    <span class="h2 font-weight-bold mb-0">{{nbrentretiens}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
                      <i class="far fa-clipboard"></i>
                    </div>
                  </div>
                </div>
                <div class="row">
                  {{entenligne}} Entretin en ligne <br>
                  {{entpres}}  Entretien Présentiel

                </div>
              </div>
            </div>
          </div>
          <br>



          

        

        


        

          
       
        </div>
      </div>
    </div>
  </div>
  
   
  </div>



   
  <!-- Page content -->

    <!-- Dark table -->
    